In [1]:
import pandas as pd

In [3]:
# I like black cats
p = pd.DataFrame(
    [
        [0, 1, 0, 0, 0],
        [0, 0, 1, 0, 0],
        [0, 0, 0, 1, 0],
        [0, 0, 0, 0, 1],
        [1, 0, 0, 0, 0],
    ],
    columns=[".", "i", "like", "black", "cats"],
    index=[".", "i", "like", "black", "cats"],
)
p

       .  i  like  black  cats
.      0  1     0      0     0
i      0  0     1      0     0
like   0  0     0      1     0
black  0  0     0      0     1
cats   1  0     0      0     0

In [5]:
idx = p.loc["."].idxmax()
while not idx == ".":
    print(idx)
    idx = p.loc[idx].idxmax()

i
like
black
cats